:root {
    --font-body: "DM Sans", sans-serif;
    --font-heading: 'DM Serif Display', serif;
    --fs-heading: 16px;
    --fs-main-heading: 36px;
    --fs-subheading: 14px;
    --fs-body: 16px;
    --main-heading-color: #1a1a18;
    --font-color: #1D9E75;
    --border: #E2EBDF;
    --span-color: #1D9E75;
    --heading-color: #1D9E75;
    --text-color: #666;
    --red-color: #E8572A;
    --green-color: #4CAF50;
    --mustered-color: #C3B717E8;
    --seagreen-color: #1D9E75;
    --yellow-color: #F5A623;
    --dark-green-color: #0F6E56;
    --black-color: rgb(26, 26, 24);
    --white: rgba(255, 255, 255, 0.6);
    --white-color: white;
    --background: #fff;
    --fs-s: 11px;
    --fs-sm: 14px;
    --fs-md: 15px;
    --fs-xs: 12px;
    --fs-xxl: 46px;
    --fs-lg: 18px;
}

html {
    font-family: var(--font-body);
}

body {
    font-size: var(--fs-body);
    max-width: 100vw;
    margin: 0;
    padding: 0;
    background: #f9f8f5;
    color:var(--text-color);
}

.container {
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 0 20px;
}

.section-title {
    text-align: center;
    margin-bottom: 20px;
    margin-top: 3%;
}

.section-eyebrow {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    margin-bottom: 8px;
}

.section-eyebrow span {
    width: 40px;
    height: 2px;
    background-color: #619B8A;
    display: block;
}

.section-eyebrow p {
    color: var(--span-color);
    font-size: 12px;
    letter-spacing: 3px;
    font-weight: 600;
    padding: 0;
    margin: 0;
    font-family: var(--font-body);
}

.section-heading {
    font-family: var(--font-heading);
    font-size: var(--fs-main-heading);
    line-height: 1.1;
    color: var(--main-heading-color);
    font-weight: 400;
}

h1 span,
.section-heading span {
    font-family: var(--font-heading);
    font-style: italic;
    color: #1d9e75;
    font-size: 36px;
}

.section-subheading {
    max-width: 600px;
    margin: 0 auto;
    font-size: 16px;
    line-height: 1.8;
    color:var(--text-color);
    font-family: var(--font-body);
    padding-bottom:30px;
}

.section {
    width: 100%;
    padding-top: 60px;
    background: #f8fbfa;
    margin-bottom: 2%;
}

/* Partnership */
.partnership-cards-model {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    margin: 2%;
    margin-top: 3%
}

.partnership-card {
    display: flex;
    flex-direction: column;
    text-align: left;
    border: 1.5px solid var(--border);
    border-radius: 16px;
    padding: 36px;
    background: white;
    transition: all 0.2s;
    position: relative;
    overflow: hidden;
}

.partnership-label {
    font-family: var(--font-body);
    font-size: var(--fs-s);
    letter-spacing: 0.1em;
    text-transform: uppercase;
    font-weight: 500;
    color: var(--text-color);
}

.partnership-content h3 {
    font-family: var(--font-body);
    font-size: var(--fs-lg);
    ;
    font-style: italic;
    color: #1a1a18;
    font-weight: 600;
}

.partner-paragraph {
    font-size: var(--fs-sm);
    color: var(--text-color);
    line-height: 1.6;
    margin-bottom: 20px;
}

.partnership-features {
    list-style: none;
    padding: 0;
    margin: 15px 0;
}

.partnership-features li {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 10px 0;
    font-size: var(--fs-md);
    color: #1a1a18;
    border-bottom: 1px solid #e5e5e5;
}

.partnership-features li:last-child {
    border-bottom: none;
}

.list-check {
    width: 24px;
    height: 24px;
    font-family: var(--font-body);
    background: #eaf6ea;
    color: #4CAF50;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: var(--fs-sm);
    font-weight: bold;
    flex-shrink: 0;
}

.partnership-price {
    font-family: var(--font-body);
    font-size: var(--fs-sm);
    color: var(--text-color);
    margin-bottom: 45px;
}

.margin {
    margin-bottom: 100px;
}

.partnershipship .margin3 {
    margin-bottom: 315px;

}

/* 2 */
/* for black to white text */
.partnership-card:hover h3,
.partnership-card:hover p,
.partnership-card:hover li,
.partnership-card:hover .partnership-label,
.partnership-card:hover .partnership-price {
    color: black;
}

/* for border-color */
.partnership-card:hover .partnership-features li,
.partnership-card:hover .partnership-features1 li {
    border-bottom-color: rgba(255, 255, 255, 0.2);
}

/* for check icon color */
.partnership-card:hover .list-check {
    background: white;
    color: black;
}

/* for hover effect */
.partnership-card:hover {
    background: #eaf6ea;
    color: black;
    transform: translateY(-10px);
}

/* 2nd card white */
.partnership-cards-model:hover {
    background-color: white;
    color: black;
}

/* last-section */
.last-section {
    border-radius: 20px;
    padding: 30px;
    text-align: center;
    margin: 50px 50px;
}

.space {
    margin: 30px 60px 0px 0px;
}

.portal-card1 {
    padding: 20px;
}

.card-btn {
    display: inline-flex;
    font-family: var(--font-body);
    align-items: center;
    align-self: flex-start;
    gap: 8px;
    text-decoration: none;
    padding: 14px 24px;
    border-radius: 999px;
    background: var(--span-color);
    color: white;
    font-size: var(--fs-body);
    font-weight: 600;
    transition: all 0.3s ease;

    /* margin-top: auto; */

}

#explore-id {
    margin-left: 2px;
}

.card-btn:hover {
    background: #4f8574;
}

/* Secondary Button */

.secondary-btn {
    background: transparent;
    border: 2px solid #233D4D;
    color: #233D4D;
}

.secondary-btn:hover {
    background: #233D4D;
    color: white;
}

